@font-face {
  font-family: open-sans-sm;
  src: url("../fonts/open-sans/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: open-sans-r;
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: open-sans-l;
  src: url("../fonts/open-sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: titillium-web-sm;
  src: url("../fonts/titillium-web/TitilliumWeb-SemiBold.ttf");
}
@font-face {
  font-family: titillium-web-r;
  src: url("../fonts/titillium-web/TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: titillium-web-l;
  src: url("../fonts/titillium-web/TitilliumWeb-Light.ttf");
}

a, i{
  color: inherit;
}

header{
  min-width: 1280px;
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 3;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.header{
  margin-left: 10px;
  top: 15px;
  width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  justify-content: space-around;
}
.menu li{
  cursor: pointer;
  padding-top: 10px;
  color: #5f5f5f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  list-style: none;
  transition: padding-top .4s, color .4s, font-size 0.4s;
}
.menu li span{
  opacity: 0;
  font-family: open-sans-r;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 11px;
  transition: opacity 0.5s, color;
}
.menu li:hover{
  color: #d80b36;
  padding-top: 0px;
  transition: padding-top .4s, color .4s, font-size 0.4s;
  transition-timing-function: ease;
}
.menu li:hover span{
  color: #d80b36;
  opacity: 1;
  transition: opacity 0.5s, color;
  transition-timing-function: ease;
}
.menu li.active, .menu li.active span{
  color: #d80b36 !important;
  padding-top: 0 !important;
  opacity: 1 !important;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
}
.section-5{
  height: 950px;
}

.section-2-title{
  width: 100%;
  font-family: titillium-web-r;
  color: #646464;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 80px;
  padding-left: 90px;
  background: url("../images/title-decoration.png") no-repeat;
  background-position: 0 50%;
}
.section-3-title{
  width: 100%;
  font-family: titillium-web-r;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  margin: 50px 0;
  padding-left: 90px;
  background: url("../images/title-decoration-white.png") no-repeat;
  background-position: 0 50%;
}
.section-4-title{
  width: 100%;
  font-family: titillium-web-r;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 70px;
  padding-left: 90px;
  background: url("../images/title-decoration-black.png") no-repeat;
  background-position: 0 50%;
}
.section-5-title{
  width: 100%;
  font-family: titillium-web-r;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 70px;
  padding-left: 90px;
  background: url("../images/title-decoration5.png") no-repeat;
  background-position: 0 50%;
}
.section-6-title{
  width: 100%;
  font-family: titillium-web-r;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 70px;
  padding-left: 90px;
  background: url("../images/title-decoration6.png") no-repeat;
  background-position: 0 50%;
}

.section-med{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.bg-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 800px;
  z-index: 1;
  background-color: #d80b36;
  -webkit-clip-path: polygon(29% 0, 100% 15%, 100% 100%, 0 84%, 0 0);
  clip-path: polygon(29% 0, 100% 15%, 100% 100%, 0 84%, 0 0);
}
.info{
  width: 930px;
  display: flex;
}

.content{
  display: flex;
}
.row{
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.around{
  justify-content: space-around;
}
.column-start{
  flex-direction: column;
  align-items: flex-start;
}
.column-end{
  flex-direction: column;
  align-items: flex-end;
}
.centered{
  justify-content: center;
  align-items: center;
}
.between{
  justify-content: space-between;
  align-items: center;
}
.centered-vertical{
  align-items: center;
}

.description-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: titillium-web-l;
  color: white;
  font-size: 34px;
  letter-spacing: 1px;
}
.description-1 span{
  font-family: titillium-web-sm;
  font-size: 36px;
  text-transform: uppercase;
  margin: 30px 0;
}
button{
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  padding: 13px 61px;
  background-color: #30bfa2;
  color: white;
  font-family: open-sans-sm;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color .4s, color .4s, border-color .2s;
}
button:hover{
  border-color: #30bfa2;
  background-color: white;
  color: #30bfa2;
  transition: background-color .4s, color .4s, border-color .2s;
  transition-timing-function: ease;
}
.description-1 + button{
  margin-top: 75px;
}

[class|="section-button"]{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  margin-top: 475px;
  font-size: 30px !important;
  border-radius: 100%;
  border: 3px solid #ebebeb;
  position: absolute;
  cursor: pointer;
  background-color: white;
  color: #5f5f5f;
}
.section-button-1{
  margin-top: 335px;
  border: 3px solid #d80b36;
  color: #d80b36;
  background-color: white;
  z-index: 2
}
.section-button-3{
  border: 3px solid #2bbff4;
  color: #2bbff4;
}
.section-button-4{
  border: 3px solid #2d3e50;
  color: #2d3e50;
}
.section-button-5{
  border: 3px solid #9b58b5;
  color: #9b58b5;
  margin-top: 410px;
}

.quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: open-sans-l;
}
.quote .title{
  font-size: 28px;
  color:#3bceb3;
}
.quote .author{
  margin: 25px 0;
  font-family: open-sans-sm;
  font-size: 11px;
  color: #9e9e9e;
}
.quote-pagination{
  display: flex;
  margin-top: 10px;
}
.quote-pagination a{
  padding: 3px 3px;
  border: 1px solid #3bceb3;
  border-radius: 50%;
  margin: 0 3px;
  transition: background-color .4s;
}
.quote-pagination a.active, .quote-pagination a:hover{
  background-color: #3bceb3;
  transition: background-color .4s;
  transition-timing-function: ease;
}

.bg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 1100px;
  -webkit-clip-path: polygon(100% 13%, 100% 100%, 0 87%, 0 0);
  clip-path: polygon(100% 13%, 100% 100%, 0 87%, 0 0);
}
.bg-last{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 800px;
  -webkit-clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
}
.gray{
  background-color: #ebebeb;
}
.blue{
  background-color: #2bbff4;
}
.black{
  background-color: #2d3e50;
}
.purple{
  background-color: #9b58b5;
}
.yellow{
  background-color: #f1c40e;
}

.hexagon {
  position: relative;
  width: 95.2px;
  height: 60.62px;
  margin: -80px 0 50px 0;
  border-left: solid 4px #2bb1a8;
  border-right: solid 4px #2bb1a8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s;
}
.hexagon i{
  z-index: 2;
  color: #df0b38;
  font-size: 45px;
  opacity: 1;
}
.hexagon-back{
  z-index: -1;
  width: 115px;
  height: 95px;
  background-color: white;
  -webkit-clip-path: polygon(20% 0, 80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%);
  clip-path: polygon(20% 0, 80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%);
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 67px;
  height: 67px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 11.3769px;
}
.hexagon:before {
  top: -36.1231px;
  border-top: solid 5.6569px #2bb1a8;
  border-right: solid 5.6569px #2bb1a8;
}
.hexagon:after {
  bottom: -36.1231px;
  border-bottom: solid 5.6569px #2bb1a8;
  border-left: solid 5.6569px #2bb1a8;
}

.card{
  width: 210px;
}
.card, .card-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: titillium-web-l;
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-content .card-decoration{
  width: 62px;
  height: 12px;
  background: url("../images/card-decoration.png") no-repeat;
  margin: 15px 0;

}
.card-content .title{
  font-family: titillium-web-r;
  font-size: 20px;
  color: #7e7e7e;
  text-align: center;
  text-transform: uppercase;
}
.card-content .description{
  color: #7e7e7e;
  font-size: 12px;
  text-align: center;
  line-height: 1.5em;
}

.card:hover .hexagon{
  background-color: #2bb1a8;
  color: #df0b38;
  transition: background-color .3s;
  transition-timing-function: ease;
  cursor: pointer;
}
.card:hover .hexagon i{
  color: white !important;
  transition: color .3s;
  transition-timing-function: ease;
}
.card:hover .hexagon-back{
  opacity: 0;
  transition: opacity .5s;
  transition-timing-function: ease;
}
.card:hover .title{
  color:#da183e;
  transition: color .4s;
  transition-timing-function: ease;
}
.card:hover .card-decoration{
  background: url("../images/card-decoration-hover.png") no-repeat;
  transition: background .4s;
  transition-timing-function: ease;
}

.margin-0{
  margin: 0px 0;
}
.margin-3{
  margin-top: 30px;
}
.margin-6{
  margin-top: 60px;
}
.margin-8{
  margin: 80px 0;
}

.title-2{
  font-family: titillium-web-r;
  font-size: 30px;
  color: #6c6c6c;
  text-align: center;
  margin-bottom: 40px;
  background: url("../images/title-decoration.png") no-repeat;
  background-position: 0 50%;
}
.description-2{
  font-family: open-sans-l;
  color: #7e7e7e;
  font-size: 12px;
  line-height: 1.5em;
}

.float-menu{
  position: fixed;
  top: 30%;
  right: -90px;
  z-index: 1;
}
.float-menu ul li{
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #d80b36;
  position: relative;
  right: 0px;
  width: 100px;
  text-transform: uppercase;
  font-family: titillium-web-l;
  color: white;
  padding: 8px 19px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
  transition: right .4s, border-radius .4s;
}
.float-menu ul li i{
  width: 20px;
  font-size: 12px;
}
.float-menu ul li span{
  font-size: 12px;
  display: none
}
.float-menu ul li:first-child{
  border-radius: 5px 0 0 0;
}
.float-menu ul li:last-child{
  border-radius: 0 0 0 5px;
  border-bottom: none;
}

.float-menu ul li:hover{
  border-bottom: none;
  border-radius: 7px 0 0 7px;
  right: 80px;
  transition: right .4s, border-radius .4s;
  transition-timing-function: ease;
}
.float-menu ul li:hover + li{
  border-top: 1px solid rgba(255, 0, 0, 0.5);
}
.float-menu ul li:hover span{
  display: inline-block;
  transition: display .3s;
  transition-timing-function: ease;
}

.description-med{
  font-family: open-sans-l;
  color: #30bfa2;
}
.title-3{
  font-family: titillium-web-r;
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  padding-left: 90px;
  background: url("../images/title-decoration-white.png") no-repeat;
  background-position: 0 50%;
}
.description-3{
  font-family: open-sans-l;
  color: white;
  font-size: 11px;
  line-height: 1.5em;
}

.col-2{
  width: 20%;
}
.col-3{
  width: 30%;
}
.col-4{
  width: 40%;
}
.col-5{
  width: 50%;
}
.col-6{
  width: 60%;
}
.col-7{
  width: 70%;
}
.col-8{
  width: 80%;
}
.col-9{
  width: 90%;
}

.icon-1{
    background-color: #064a80;
}
.icon-2{
  background-color: #f7941d;
}
.icon-3{
  background-color: #2ba652;
}
.icon-4{
  background-color: #e40f21;
}
.icon-5{
  background-color: #ec5c28;
}
.icon-6{
  background-color: #2891fc;
}
.icon-7{
  background-color: #474644;
}
.icon-8{
  background-color: #d80b36;
}
.icon-9{
  background-color: purple;
}

.hexagon-outside{
  cursor: pointer;
  font-family: open-sans-r;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 75px;
  background: white;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-inside{
  cursor: pointer;
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: color .4s;
}
.hexagon-inside i{
  color: white;
  transition: color .4s;
}
.hexagon-inside a{
  font-family: open-sans-r;
  color: white;
  text-decoration: none;
  transition: color .4s;
}
.hexagon-outside:hover .hexagon-inside, .hexagon-outside:hover a, .hexagon-outside:hover i{
  color: gray;
  background-color: white;
  transition: color .4s;
  transition-timing-function: ease;
}

.team{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .hexagon-2-outside{
  margin-top: -210px;
}
.hexagon-2-outside-back{
  cursor: pointer;
  width: 220px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #56676b;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 49%, 75% 100%, 25% 100%, 0 50%);
  clip-path: polygon(25% 0, 75% 0, 100% 49%, 75% 100%, 25% 100%, 0 50%);
}
.hexagon-2-inside-back{
  width: 98%;
  height: 98%;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 49%, 75% 100%, 25% 100%, 0 50%);
  clip-path: polygon(25% 0, 75% 0, 100% 49%, 75% 100%, 25% 100%, 0 50%);
}
.hexagon-2-outside{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 230px;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-2-inside{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-image: url("../images/team.jpeg");
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-2-inside .text-description{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color .4s;
}
.hexagon-2-inside .text-description p{
  opacity: 0;
  font-family: open-sans-r;
  color: white;
  line-height: 2em;
  font-size: 11px;
  text-align: center;
  padding: 0 10px;
  transition: opacity .4s;
}

.hexagon-2-outside:hover .text-description{
  background-color: rgba(48, 191, 162, .8);
  transition: background-color .4s;
  transition-timing-function: ease;
}
.hexagon-2-outside:hover .text-description p{
  opacity: 1;
  transition: opacity .4s;
  transition-timing-function: ease;
}

.title-team{
  font-family: titillium-web-r;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  color: #323230;
}
.job{
  color: white;
  font-family: open-sans-r;
  text-transform: uppercase;
  font-size: 11px;
  margin: 10px 0;
}

.social-team{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hexagon-social-1-outside{
  width: 20px;
  height: 25px;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: color .4s;
}
.hexagon-social-1-inside{
  width: 80%;
  height: 80%;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-social-1-inside i{
  color: #2bbff4;
  font-size: 10px;
  margin-top: -2px;
}
.hexagon-social-1-outside, .hexagon-social-1-inside{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hexagon-social-1-outside:hover i{
  color: white;
  transition: color .4s;
  transition-timing-function: ease;
}

.hexagon-social-1-outside:hover .facebook{
  background-color: #3a559f;
  transition: background-color .4s;
  transition-timing-function: ease;
}
.hexagon-social-1-outside:hover .twitter{
  background-color: #1ea1f3;
  transition: background-color .4s;
  transition-timing-function: ease;
}
.hexagon-social-1-outside:hover .google{
  background-color: #ea4235;
  transition: background-color .4s;
  transition-timing-function: ease;
}
.hexagon-social-1-outside:hover .dribbble{
  background-color: #eb4c89;
  transition: background-color .4s;
  transition-timing-function: ease;
}
.hexagon-social-1-outside:hover .behance{
  background-color: #1273b1;
  transition: background-color .4s;
  transition-timing-function: ease;
}
.hexagon-social-1-outside:hover .flickr{
  background-color: #0462ca;
  transition: background-color .4s;
  transition-timing-function: ease;
}


.hexagon-project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hexagon-project-back-outside{
  width: 190px;
  height: 215px;
  background-color: #289d98;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-project-back-inside{
  width: 98%;
  height: 98%;
  background-color: #2d3e50;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-project-back-outside, .hexagon-project-back-inside{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hexagon-project-outside{
  margin-top: -202px;
  background-color: white;
  width: 215px;
  height: 190px;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}
.hexagon-project-inside{
  background: url("../images/project.jpg") no-repeat;
  background-size: 100% 100%;
  width: 95%;
  height: 95%;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}
.hexagon-project-outside, .hexagon-project-inside, .hexagon-project-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hexagon-project-title{
  width: 100%;
  height: 100%;
  background-color: rgba(40, 157, 152, .6);
  opacity: 0;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  transition: opacity .4s;
}
.hexagon-project-title p{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: titillium-web-r;
  text-transform: uppercase;
  background-color: white;
  color: #64615c;
  opacity: 0;
}
.hexagon-project-outside:hover .hexagon-project-title, .hexagon-project-title p{
  opacity:1;
  transition: opacity .4s;
  transition-timing-function: ease;
}

.news{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-news{
  border-radius: 5px;
  width: 210px;
  height: 160px;
  overflow: hidden;
}
.image-news img{
  width: inherit;
  height: inherit;
  border-radius: 5px;
}
.news-description{
  display: flex;
  flex-direction: column;
  color: white;
  font-family: open-sans-l;
  font-size: 10px;
  margin-top: -163px;
  border-radius: 5px;
  width: 103%;
  height: 103%;
  background-color: rgba(40, 157, 152, .6);
  -webkit-clip-path: polygon(
  0 0,
  100% 0,
  100% 0,
  0 100%,
  0 100%);
  transition: all .5s !important;
}
.news-description .abstract{
  line-height: 1.5em;
  opacity: 0;
  transition: 1s ease;
}
.news-description .title{
  font-family: titillium-web-r;
  font-size: 16px;
  text-transform: uppercase;
}
.news-description *{
  margin: 10px;
}
.image-news:hover .news-description{
  -webkit-clip-path: polygon(
    /* X and Y points */
    0 0%,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%
  );
}
.image-news:hover .abstract{
  opacity: 1;
}

.news .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button{
  font-family: open-sans-l;
  letter-spacing: 1px;
  background-color: white;
  color: #a1a1a1;
  padding: 3px 15px;
  border-top: none;
  border-left: 1px solid #a1a1a1;
  border-bottom: none;
  border-right: none;
  border-radius: 0;
  transition: all .4s ease;
}
.buttons button:first-child{
  border-radius: 0 0 0 5px;
  border-left: none;
}
.buttons button:last-child{
  border-radius: 0 0 5px 0;
}
.buttons button:hover{
  background-color: #30bfa2;
  color: white;
}
.latest{
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.button-2{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0 27px;
  border: 1px solid #45d1ba;
  border-radius: 0;
}

.hexagon-b{
  margin-right: 30px;
  display: flex;
  justify-content: center;
  min-width: 75px;
  max-width: 75px;
  height: 90px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-b img{
  width: 130%;
  filter: grayscale(100%);
}
.title-5{
  font-family: open-sans-r;
  font-size: 15px;
  color: #3fc9b4;
}
.job-2{
  font-family: open-sans-r;
  color: #3fc9b4;
  font-style: italic;
  font-size: 9px;
}
.description-b{
  margin-top: 15px;
  line-height: 1.5em;
  font-family: open-sans-r;
  font-style: italic;
  font-size: 10px;
  color: #969696;
}

.vertical-line{
  height: 60px;
  border-right: 1px dashed #3fc9b4;
}
.description-6{
  font-family: open-sans-l;
  color: white;
  font-size: 11px;
  line-height: 1.8em;
  margin-bottom: 30px;
}

.form input, .form textarea{
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid rgba(255, 0, 0, 0.0);
  padding: 8px 20px;
  border-radius: 5px;
  transition: all .2s ease;
  width: 100%;
}
.form input::placeholder, .form textarea::placeholder{
  font-family: open-sans-r;
  color: #dadada;
  font-size: 12px;
}
.form input:focus, .form textarea:focus{
  outline: none;
  border-color: #30bfa2;
}
.form .content input{
  width: 48%;
}
.contact{

  margin-left: 175px;
}
.cont{
  width: 95%;
}
.map{
  background: url("../images/map.png");
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.locate{
  margin-left: -150px;
  width: 280px;
  height: 210px;
  background-color: rgba(48, 191, 162, 0.8);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 90% 85%, 80% 100%, 70% 85%, 0 85%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 90% 85%, 80% 100%, 70% 85%, 0 85%);
}
.locate-content{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  color: white;
  margin: 0 10px;
}
.locate-content i{
  min-width: 60px;
  text-align: center;
  font-size: 15px;
}
.locate-content p{
  font-family: open-sans-l;
  font-size: 12px;
  line-height: 1.5em;
}
.locate .locate-content:first-child{
  margin: 30px 10px 25px 10px;
}
.locate .locate-content:first-child p{
  font-size: 16px;
}
.locale .locate-content:first-child i{
  font-size: 20px;
}
